.university {
    @include clear;
    position: relative;
    margin: 0 0 $distance 0;
    padding: $distance;
    background: $greenLight;
    
    @include respond-to(large) {
        min-height: 150px;
    }
    
    .vsl {
        overflow: hidden;
        float: left;
        width: 40%;
        margin-right: $distance;
        text-align: center;
        background: $white;
        
        img {
            max-width: 100%;
        }
    }
    
    .text {
        overflow: hidden;
        
        p {
            @include rem(font-size, $pica);
        }
    }
    
    h1 {
        padding: 0 $distance-m 0 0;
    }
    
    .btn {
        margin: $distance 0 0 0;
    }
    
    .flag {
        position: absolute;
        top: $distance;
        right: $distance;
        width: 24px;
    }
}