
    @font-face {
        font-family: 'Stag-Medium';
        src: url('../fonts/Stag-Medium-Web.eot');
        src: url('../fonts/Stag-Medium-Web.eot?#iefix') format('embedded-opentype'),
             url('../fonts/Stag-Medium-Web.woff') format('woff'),
             url('../fonts/Stag-Medium-Web.ttf') format('truetype'),
             url('../fonts/Stag-Medium-Web.svg#blender_promedium') format('svg');
        font-weight: normal;
        font-style: normal;
    }
